{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <div class="header mt-0 d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center text-light mb-4 pt-0">Wild Circus</h1>
        <div class="row mx-0 justify-content-center align-items-center">
            <p class="h3 col-md-5 text-center text-light">Plongez dans l'univers d'un cirque pas comme les autres.
                Issus d'une troupe d'artistes de rue,
                le Wild Circus a réinventé l’idée que l’on se fait du cirque, grâce au génie de talents locaux et
                jusqu’à devenir un nom reconnu de tous.</p>
        </div>
    </div>

    <section id="aboutUs" class="about-us container px-0 px-md-3">
        <h2 class="text-center mt-4">Notre cirque</h2>
        <div class="row mx-0">
            <div class="col-lg-5 px-0 px-md-3 d-flex justify-content-center align-items-center mb-5 mb-lg-0">
                <img src="{{ asset('build/images/about-us.png') }}"
                     class="acrobate" alt="Acrobate">
            </div>
            <div class="col-lg-6">
                <p> Créé en 1926 par une troupe d'artistes de rue, le Wild Circus a sû évoluer sans oublier les
                    traditions ayant fait le succès du cirque.
                    Engagé depuis toujours, le Wild Circus se distingue par une vision artistique
                    différente du cirque traditionnel, avec
                    notamment l'absence d'animaux, une grande importance donnée aux jeux de comédiens, et en basant
                    principalement ses productions sur des numéros d'acrobaties.
                    Véritable « Cirque citoyen », le Wild Circus participe entre autres au financement
                    d'associations dans une vingtaine de pays différents sur cinq continents et a créé un programme
                    international « Cirque du Monde » pour aider les jeunes en difficulté.  </p>
            </div>
        </div>
    </section>
    <section class="price" id="prices">
        <h2 class="text-center mt-4">Venez nous découvrir</h2>
        <div class="container">
            <div class="row mx-0">
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mb-4">
                    <h3 class="text-center mb-4">Les représentations</h3>
                    <p class="text-center">Mercredi : 16h</p>
                    <p class="text-center">Samedi : 16h</p>
                    <p class="text-center">Dimanche : 14h</p>
                </div>
                <div class="table-responsive mb-4 col-md-5 offset-md-1">
                    <h3 class="text-center mb-4">Les tarifs</h3>
                    <table class="table table-striped  bg-light">
                        <thead>
                        <tr class="bg-primary text-light">
                            <th>Catégorie</th>
                            <th class="text-right">Prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for price in prices %}
                            <tr>
                                <th>{{ price.category }}</th>
                                <th class="text-right">{{ price.price }}€</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-center py-2 mt-4 text-center">
                <a href="{{ path('performance') }}"
                   class="button-primary text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                    Découvrez toutes nos performances !
                </a>
            </div>
        </div>
    </section>
    <section class="contact pt-0 mt-O">
        <div class="container">
            <h2 class="text-center">Nous contacter</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="col text-center pt-4">
                <button class="button-primary button-contact text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                    Envoyer
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}