{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <div class="header mt-0 d-flex align-items-center justify-content-center">
        <h1 class="text-center text-light pt-0">Wild Circus</h1>
    </div>

    <section id="aboutUs" class="about-us container px-0 px-md-3">
        <h2 class="text-center mt-4">Notre cirque</h2>
        <div class="row mx-0">
            <div class="col-lg-5 px-0 px-md-3 d-flex justify-content-center align-items-center mb-5 mb-lg-0">
                <img src="{{ asset('build/images/about-us.png') }}"
                     class="acrobate" alt="Acrobate">
            </div>
            <div class="col-lg-6">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit diam sem, eu mattis ante
                    mattis ut.
                    Ut consectetur placerat risus, et consectetur nisl. Sed a scelerisque orci, vel mollis odio. Sed
                    vitae tempus neque.
                    Morbi vitae fringilla nunc. Nunc sit amet pretium magna. Nullam non ipsum diam. Vestibulum fringilla
                    risus nec tempor facilisis.
                    Sed elementum magna eget purus tincidunt, consequat ornare leo facilisis. Donec nibh erat, sagittis
                    id ligula blandit,
                    ullamcorper egestas risus. Etiam tincidunt nunc elit, quis scelerisque nisl luctus ac. Donec non
                    porta sem, vel iaculis enim.
                    Donec ultricies urna ac quam pellentesque efficitur. In interdum dignissim mauris sed ornare. Donec
                    aliquam, felis ac lobortis consectetur,
                    ligula mi luctus felis, commodo placerat dui erat eu nisl. </p>
            </div>
        </div>
    </section>
    <section class="price" id="prices">
        <h2 class="text-center mt-4">Venez nous découvrir</h2>
        <div class="container">
            <div class="row mx-0">
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mb-4">
                    <h3 class="text-center mb-4">Les représentations</h3>
                    <p class="text-center">Mercredi : 16h</p>
                    <p class="text-center">Samedi : 16h</p>
                    <p class="text-center">Dimanche : 14h</p>
                </div>
                <div class="table-responsive mb-4 col-md-5 offset-md-1">
                    <h3 class="text-center mb-4">Les tarifs</h3>
                    <table class="table table-striped  bg-light">
                        <thead>
                        <tr class="bg-primary text-light">
                            <th>Catégorie</th>
                            <th class="text-right">Prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for price in prices %}
                            <tr>
                                <th>{{ price.category }}</th>
                                <th class="text-right">{{ price.price }}€</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-center py-2 mt-4 text-center">
                <a href="{{ path('performance') }}"
                   class="button-primary text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                    Découvrez toutes nos performances !
                </a>
            </div>
        </div>
    </section>
    <section class="contact pt-0 mt-O">
        <div class="container">
            <h2 class="text-center">Nous contacter</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="col text-center pt-4">
                <button class="button-primary button-contact text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                    Envoyer
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}