{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <main>
        <div class="header mt-0 d-flex align-items-center justify-content-center">
            <h1 class="text-center text-light mt-5 d-flex reveal-1">Contact</h1>
        </div>
        <div class="container">
            <h2 class="text-center py-5 reveal-2">Nous contacter</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="col text-center pt-4">
                <button class="button-primary button-contact text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                    Envoyer
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}