{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <main>
        <div class="header mt-0 d-flex align-items-center justify-content-center">
            <h1 class="text-center text-light d-flex reveal-1">Contact</h1>
        </div>
        <section class="contact container">
            <h2 class="text-center">Nous contacter</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="col text-center pt-4">
                <button class="button-primary button-contact text-decoration-none btn-lg rounded-pill my-4 px-5 py-3">
                    Envoyer
                </button>
            </div>
            {{ form_end(form) }}
        </section>
        <section class="find-us container py-0">
            <h2 class="text-center">Nous retrouver</h2>
            <div class="row mx-0">
                <div class="col-md-9 col-lg-6">
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=1.893400847911835%2C47.89303916510199%2C1.8967482447624209%2C47.89470092110348&amp;layer=mapnik&amp;marker=47.89387004976874%2C1.8950745463371277"
                            style="border: 1px solid black" class="mw-100"></iframe>
                    <br/>
                    <small>
                        <a href="https://www.openstreetmap.org/?mlat=47.89387&amp;mlon=1.89507#map=19/47.89387/1.89507">
                            Afficher une carte plus grande
                        </a>
                    </small>
                </div>
                <div class="col-md-3 mt-5 mt-md-0">
                    <h3 class="text-center my-4">Les représentations</h3>
                    <p>Mercredi : 16h</p>
                    <p>Samedi : 16h</p>
                    <p>Dimanche : 14h</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}